*{
    margin: 0%;
    padding: 0%;
}

.menu_horizontal{
    margin: 10px 10px 0px 10px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu_horizontal ul{
    list-style: none;
    position: relative;
}

.menu_horizontal ul li{
    width: 20%;
    float: left;
}

.menu_horizontal ul li a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
}

.menu_horizontal ul li a.enabled:hover{
    color: blue;
}

.menu_horizontal ul li a.enabled:active{
    text-decoration: underline;
}

.menu_horizontal ul li a.disabled{
    cursor: no-drop;
}

.menu_horizontal ul ul{
    position: absolute;
    visibility: hidden;
}

.menu_horizontal ul li:hover ul{
    visibility: visible;
}

.menu_horizontal ul ul li{
    float: none;
    border-bottom: 1px solid white;
}

label[for="bt_menu"]{
    padding: 5px;
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}

#bt_menu{
    display: none;
}

@media(max-width: 800px){
    label[for="bt_menu"]{
        display: block;
    }

    #bt_menu:checked ~ .menu{
        display: block;
    }

    .menu_horizontal{
        margin-top: 5px;
        display: none;
    }

    .menu_horizontal ul li{
        width: 100%;
        float: none;
    }

    .menu_horizontal ul ul{
        position: static;
        overflow: hidden;
        max-height: 0px;
        transition: all .4s;
    }

    .menu_horizontal ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
}

.menu_vertical{
    height: 20%;
    width: 20%;
    background-color: #9c8d8d;
} 

.menu_vertical ul{
    list-style: none;
}

.menu_vertical ul li{
    position: relative;
    width: 100%;
}

.menu_vertical ul ul {
    position: absolute;
    top: 0;
    display: none;
}

.menu_vertical ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #2b2626;
    padding: 10px;
    border-bottom: 1px solid black; 
}

.menu_vertical ul li a img{
    position: relative;
    width: 100%;
    border: 1px solid black;
}

.menu_vertical ul li a:hover{
    color: cyan;
}

.menu_vertical ul li a:active{
    text-decoration:underline;
}

.menu_vertical ul li a img:hover{
    border: 1px solid cyan;
}


